section {
    display: flex;
    justify-content: center;

}

.loader {
    animation: span 4s ease-in-out .75s infinite normal;
}

@keyframes loader {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(-10px, 10px);
    }

    100% {
        transform: translate(0);
    }

}