<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <h1>Random number you generate is <%= num %>
    </h1>
    <h3> That number is:
        <%= num%2===0 ? 'even' :'odd'%>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam atque saepe repellendus incidunt, ullam
        non magnam,
        consequuntur illo recusandae aperiam provident eaque in ea praesentium modi sed delectus maiores
        accusamus.</p>
</body>

</html>