<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Single Item Detail:</h1>
    <table>
        <tr>
            <th>F Name</th>
            <th>L Name</th>
            <th>Class</th>
            <th>Uni</th>
        </tr>
        <tr>
            <td>
                <%=comment.id %>
            </td>
            <td>
                <%=comment %>
            </td>
            <td>
                <%=comment.username %>
            </td>
            <td>University of education </td>


        </tr>
    </table>

</body>

</html>