<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css" />

    <title>Document</title>
</head>

<body>

    <form action="/addNewUser" method="post">
        <form>
            <section>
                <label for="name">Enter Name:</label>
                <input type="text" placeholder="Enter Name Here." name="name" id="name">
            </section>
            <section>
                <label for="age">Enter Age:</label>
                <input type="number" placeholder="Enter age Here." name="age" id="age">
            </section>
            <section>
                <label for="gender">Enter Gender:</label>
                <input type="text" placeholder="Enter gender Here." name="gender" id="gender">
            </section>
            <section>
                <label for="classx">Enter Class:</label>
                <input type="text" placeholder="Enter class Here." name="classx" id="classx">
            </section>
            <section>
                <button>Submit</button>
            </section>
        </form>
    </form>

</body>

</html>